*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.bg1{
background-image: url("/images/sport-1.jpg");
}

.bg2{
    background-image: url("/images/sport-2.jpg");  
}

.bg3{
    background-image: url("/images/sport-3.jpg");
}

#wrapper{
    height: 100vh;
    overflow-x: hidden;
    perspective: 10px;
    overflow-y: auto;
}